$primaryText: white;
$primaryLines: gray;
$secondaryText: lightgray;
$secondarytLines: lightgray;
$primaryBG: black;
$secondaryBG: darkblue;
$transparent: rgba(0, 0, 0, 0);
$lessTrans: rgba(100, 100, 100, 0.5);
$buttonHover: lightgray;
