@import './_config.scss';

.ContentWindow-cont {
  border: 1px solid $primaryLines;
  width: $contentWindowW;
  height: $contentWindowH;
  margin: 5px;
  overflow-y: auto;
}

.content-cont {
  border: 1px solid $primaryLines;
  margin: 5px;
  padding: 10px;
  text-align: left;
  text-indent: 25px;
}

.content-img {
  margin-top: 25px;
  width: 100%;
}
