@import './_config.scss';

.ContentWindow-cont {
  border: 1px solid $secondaryLines;
  width: $contentWindowW;
  height: $contentWindowH;
  margin: 5px;
  overflow-y: auto;
}

.content-cont {
  opacity: 0;
  border: 1px solid $primaryLines;
  margin: 5px;
  padding: 10px;
  text-align: left;
  text-indent: 25px;
  animation: fadeIn 0.5s;
  opacity: 1;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.content-img {
  margin-top: 25px;
  width: 100%;
}
