@import './_config.scss';

.Home-cont {
  border: 1px solid $primaryLines;
  width: $homeContW;
  margin: 0 auto;
}

.Home-header-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 1px solid $primaryLines;
  color: skyblue;
}

.Home-left {
  display: flex;
  flex-direction: row;
}

.Home-title {
  font-weight: bold;
  margin-left: 10px;
  font-size: 12px;
  padding-top: 3px;
  color: $secondaryText;
}

.Home-main-cont {
  position: relative;
  border: 1px solid $primaryLines;
  margin: 20px;
  min-height: $homeMainContH;
}

.Home-game-board-cont {
  position: absolute;
  top: 5px;
  left: $gameBoardHPos;
  width: $gameBoardW;
  height: $gameBoardH;
  border: 1px solid $primaryLines;
}

.Home-game-board {
  position: relative;
  margin: 5px;
  height: calc(100% - 11px);
  overflow: hidden;
}

.Home-game-board-stats {
  position: absolute;
  top: 588px;
  width: calc(100% - 2px);
  height: calc(100% - 590px);
  border: 1px solid $primaryLines;
}
