@import './_config.scss';

.SideBar-border {
  margin: 5px;
  width: 250px;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid $primaryLines;
}

.SideBar-cont {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 250px;
  height: 205px;
}
